
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0;
  background: linear-gradient(rgb(255,250,240),rgb(242,229,255));
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-ref {
  position: relative;
}

.content {
  text-align: center;
  top:20px;
}

.btn-primary {
  background-color: #cd9aae;
  border-color: #87616b;
  color:white;
}

.links {
  padding: .5em;
}

.links > a {
  color: #636b6f;
  padding: 0 1em;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height:1.8rem;
}

.img-wrap { display: inline-block; }

.promo-img {
  display:inline-block;
  margin: 0 auto;
}

.form-group { padding-top:.4em; }

.footer { font-size: 0.67rem; padding-top: .5rem; }

.input {
  width: 304px;
  border-radius: 0.5em;
  line-height: 1.5rem;
}

.success, .errors {
  margin:0 auto;
  width: 304px;
  padding:.2rem 0;
  border-radius:0.5rem;
}

.errors{ background: #f9f9c0; border: 1px solid #ffff00; }

.message-list-item { text-align: left; list-style-type: none; }

.success {background: #acf99f; border: 1px solid #2e5d2e; }

.btn-big { width: 304px;}

/* Vendor Styles */
.g-recaptcha {display: inline-block;}
